Repository GameLab-UNIL-EPFL/Lausanne-1830, pull requests merged in 2022-04, with the labels that each got.

#122 Quick fixes
  db/characters/notebookCharacterList.xml
  db/dialogues/xml/Dialogues.xml
  scenes/Casino/Casino.tscn
  src/Context.cs
  src/NPC.cs
Labels: Design, Dialogue

#123 More fixes
  assets/01_characters/03_pnjs/adrienPichard.png.import
  assets/06_UI_menus/affichesPalud.aseprite
  assets/06_UI_menus/affichesPalud.png
  db/dialogues/xml/Dialogues.xml
  scenes/Casino/Casino.tscn
  scenes/NPC.tscn
  scenes/Notebook/Notebook.tscn
  scenes/Palud/ProtoPalud.tscn
  scenes/Player.tscn
  src/NPC.cs
Labels: Design, Dialogue

#128 Separated map and notebook
  scenes/Notebook/Notebook.tscn
  src/Notebook.cs
  src/NotebookController.cs
Labels: Design

#129 First draft of the Brewing minigame
  assets/06_UI_menus/Arrows.png
  db/dialogues/xml/Dialogues.xml
  scenes/Brasserie/Brasserie.tscn
  scenes/Brasserie/BrewGame.tscn
  scenes/Interaction/Menu.tscn
  src/BrewGame.cs
  src/Context.cs
  src/DialogueController.cs
  src/Menu.cs
  src/NPC.cs
  src/NotebookController.cs
  src/Player.cs
  src/shaders/BrewGame.gdshader
Labels: enhancement, Gameplay
